.work{
    width: 450px;
    height: 200px;
    position: relative;
    border: 1px #000 solid;
    border-radius: 20px;
    background-color: #000;
    overflow: hidden;
    margin: 20px;

    .work-bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        opacity: 0.5;
        transition-duration: 0.7s;
        filter: grayscale(0.7);
    }
    .work-content{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .link-btn{
            cursor: pointer;
            opacity: 0;
            position: absolute;
            z-index: 3;
            top: 0;
            right: 0;
            background-color: #212121;
            background-image: url('/link.png');
            background-size: 50% 50%;
            background-repeat: no-repeat;
            background-position: center;
            width: 30px;
            height: 30px;
            border-bottom-left-radius: 5px;
            border-color: #000;
            border-style: solid;
            border-width: 0px 0px 1px 1px;
            transition-duration: 0.3s;
        }
        h1{
            margin: 0;
            transition-duration: 0.5s;
        }
        .work-desc{
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: calc(100% - 40px);
            margin-top: 200px;
            transition-duration: 0.7s;
            text-align: left;
            font-weight: bold;
        }
    }

    &:hover{
        .work-bg{
            filter: blur(0px) grayscale(0);
            transform: scale(1.03);
            opacity: 0.2;
        }
        .work-content{
            .link-btn{
                opacity: 0.8;
            }
            h1{
                margin-top: -250px;
            }
            .work-desc{
               
                margin-top: 0;
            }
        }
    }
}