@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
  background-color: #000;
  padding: 0;
  margin: 0 auto;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

/*
scroll
*/
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #3c3c3c;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3c3c3c;
}
::-webkit-scrollbar-thumb:active {
  background: #3c3c3c;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


a{
  color: #fff;
  text-decoration: none;
}

.section{
  min-height: 100vh;
  position: relative;

  .section-bg{
    height: 100%;
    width: 100%;
    video{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .section-content{
    position: absolute;
    background-color: rgba($color: #000000, $alpha: 0.7);
    background-image: url('/grid.png');
    background-repeat: repeat;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    z-index: 2;
  }
}

.main-section{
  .section-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    .links-container{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .link{
        opacity: 0.8;
        padding: 20px;
        transition-duration: 0.2s;
        cursor: pointer;

        img{
          height: 48px;
        }

        &:hover{
          opacity: 1.0;
        }
      }
      
    }

    .work-anchor{
      margin-top: 100px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition-duration: 0.3s;
      
      .chevron{
        position: absolute;
        margin-top: 30px;
        animation: chevronAnim 1s infinite;
      }

      &.active{
        opacity: 1.0;
      }
    }

    @keyframes chevronAnim {
      0%{
        margin-top: 30px;
      }
      50%{
        margin-top: 40px;
      }
      100%{
        margin-top: 30px;
      }
    }

    .bg-infos{
      opacity: 0;
      position: fixed;
      bottom: 0;
      right: 0;
      font-size: 0.7rem;
      margin:5px;
      transition-duration: 0.3s;
      user-select: none;
      b{
        cursor: pointer;
      }

      &.active{
        opacity: 0.3;
      }
    }

  }
}

.work-section{
  background-color: #000;
  .section-bg{
    background-color: #212121;
    height: 100%;
  }
  .section-content{
    h1{
      text-align: center;
      margin: 20px;
    }
    .works-container{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}

.video-bg{
  opacity: 0;
  transition: opacity 1s;
  position: fixed;
  &.loaded{
    opacity: 1.0;
  }
}