@import '../../app.scss';
.work {
  position: absolute;
  z-index: 2;
  top: 0;
  user-select: text;
  width: 100%;
  background-color: $bg;
  transform: translateX(100%);
  animation: slideIn 0.3s forwards;

  .work-header {
    height: 150px;
    width: 100%;
    position: sticky;
    top: 0;
    overflow: hidden;
    box-shadow: 0px 0px 20px $bg;
    background-color: $bg;
    z-index: 2;
    .work-close-button {
      position: absolute;
      top: 0;
      left: 0;
      margin: 10px;
      z-index: 3;
      opacity: 0.5;
      transition-duration: 0.15s;
      &:hover {
        opacity: 1;
      }
    }
    .work-h-background {
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: 50% 50%;
      z-index: 1;
      filter: blur(5px);
    }
    .work-h-content {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;
      background-color: rgba($color: #000000, $alpha: 0.7);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  .work-content {
    max-width: 800px;
    margin: 40px;
    a {
      color: $primary;
      &:hover {
        text-shadow: 0px 0px 5px $primary;
      }
    }
    video,
    img {
      margin: auto;
      max-width: 600px;
    }
    small {
      opacity: 0.6;
    }
  }
}

@keyframes slideIn {
  to {
    transform: translateX(0);
  }
}
